{% extends 'base.html' %}
{% load static %}
{% block content%}
   <h1>
    <img src="{% static 'logo.png' %}" class="imagem-logo">
    PersonalCheff
    </h1>
   <h2 class="subtitulo">Seu site de receitas</h2> 

   <table border="1" class="tabela-receitas">
    <tr>
        <th>Receitas</th>
        <th>Vídeos</th>
        <th>Ações</th>
   </tr>
   <tr>
    <td>
        <img src="{% static 'suco.png' %}" class="icone-suco">
        Suco de Laranja</td>
    <td><a href="https://www.youtube.com/watch?v=Nn9140bDPnc">Vídeo da Receita</a></td>
    <td><a href="{% url 'sucodelaranja' %}">Ver receita completa</a></td>
    </tr>
    <tr>
    <td>
        <img src="{% static 'suco.png' %}" class="icone-suco">
        Suco de Limão</td>
    <td><a href="https://www.youtube.com/watch?v=7aavIewcSY4">Vídeo da Receita</a></td>
    <td><a href="{% url 'sucodelimao'%}">Ver receita completa</a></td>
    </tr>
    <tr>
    <td>
        <img src="{% static 'suco.png' %}" class="icone-suco">
        Suco de Abacaxi</td>
    <td><a href="https://www.youtube.com/watch?v=jLmFRuPv2eo">Vídeo da Receita</a></td>
    <td><a href="{% url 'sucodeabacaxi'%}">Ver receita completa</a></td>
    </tr>
    <td>
        <img src="{% static 'suco.png' %}" class="icone-suco">
        Suco de Maçã</td>
    <td><a href="https://www.youtube.com/watch?v=yJ1LVXgudwQ">Vídeo da Receita</a></td>
    <td><a href="{% url 'sucodemaca' %}">Ver receita completa</a></td>
    </tr>
    </tr>
    <td>
        <img src="{% static 'suco.png' %}" class="icone-suco">
        Suco de Melancia</td>
    <td><a href="https://www.youtube.com/watch?v=tlHwjpJpYBE">Vídeo da Receita</a></td>
    <td><a href="{% url 'sucodemelancia'%}">Ver receita completa</a></td>
    </tr>
    </table>
   
{% endblock %}