{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

   <h2>Receita do suco de limão</h2> 
   <h3>Modo de Preparo</h3>
   <ul>
        <li>Descascar os limões e tirar as sementes</li>
        <li>Colocar no liquidificador junto com os outros ingredientes.</li>
        <li> Bater e em seguida coar</li>
   </ul>
   <p>
    <a href="{% url 'index' %}">Voltar</a>
    </p>
{% include 'partials/footer.html' %}
{% endblock %}