{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

   <h2>Receita do suco de abacaxi</h2> 
   <h3>Modo de Preparo</h3>
   <ul>
        <li>Descascar o abacaxi e cortar em rodelas</li>
        <li>2 xícaras (chá) de água fria ou gelada</li>
        <li>2 colheres (chá) de folhas de hortelã</li>
        <li>Colocar no liquidificador junto com os outros ingredientes.</li>
        <li>Bater e em seguida coar</li>
   </ul>
   <p>
        <a href="{% url 'index' %}">Voltar</a>
   </p>
{% include 'partials/footer.html' %}
{% endblock %}