{% extends 'base.html' %}
{% load static %}
{% block content%}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}

   <h2>Receita do suco de maçã</h2> 
   <h3>Modo de Preparo</h3>
   <ul>
        <li>Descasque e tire as sementes das maçãs</li>
        <li>Bata no liquidificador as maçãs, sem sementes e descascadas, e a água.</li>
        <li> Coe com uma peneira o suco</li>
        <li>Depois bata o açúcar com metade do suco no liquidificador</li>
        <li>Coloque em uma jarra o suco e jogue os cubos de gelo</li>
   </ul>
   <p>
    <a href="{% url 'index' %}">Voltar</a>
    </p>
{% include 'partials/footer.html' %}
{% endblock %}